<head>
    <meta charset="UTF-8" />
    <title>{% block title %}WoW's affixes!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="choseLanguage">
        <form method="post">
            <select name="language" onchange="this.form.submit()" class="form-control">
                <?php foreach($languageIso as $iso => $name) { ?>
                <option value="" ?>
                <?= $name; ?>
                </option>
                <?php } ?>
            </select>
        </form>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer class="footer">
        <i class="fa fa-lg fa-github"></i> <a href="https://github.com/WFrancois/wow-affixes">GitHub</a><br />
        Created By Wisak
    </footer>
    <script type="text/javascript" src="//wow.zamimg.com/widgets/power.js"></script><script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
    {% block javascripts %}{% endblock %}
</body>
</html>