@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
  position: relative;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 80px !important;
}

body.darkmode {
  color: #ddd;
  background-color: #333;

  footer {
    background-color: #2f2f2f;
  }

  a {
    color: #a3d4ff;
  }
}


.affixes-1:before  { background-image:url('../images/overflowing.jpg'); }
.affixes-2:before  { background-image:url('../images/skittish.jpg');  }
.affixes-3:before  { background-image:url('../images/volcanic.jpg');  }
.affixes-4:before  { background-image:url('../images/necrotic.jpg');  }
.affixes-5:before  { background-image:url('../images/teeming.jpg');  }
.affixes-6:before  { background-image:url('../images/raging.jpg');  }
.affixes-7:before  { background-image:url('../images/bolstering.jpg');  }
.affixes-8:before  { background-image:url('../images/sanguine.jpg');  }
.affixes-9:before  { background-image:url('../images/tyrannical.jpg');  }
.affixes-10:before { background-image:url('../images/fortified.jpg');  }
.affixes-11:before { background-image:url('../images/bursting.jpg');  }
.affixes-12:before { background-image:url('../images/grievous.jpg');  }
.affixes-13:before { background-image:url('../images/explosive.jpg');  }
.affixes-14:before { background-image:url('../images/quaking.jpg');  }
.affixes-119:before { background-image:url('../images/beguiling.jpg');  }
.affixes-120:before { background-image:url('../images/awakened.jpg');  }
.affixes-121:before { background-image:url('../images/prideful.jpg');  }
.affixes-122:before { background-image:url('../images/inspiring.jpg');  }
.affixes-123:before { background-image:url('../images/spiteful.jpg');  }
.affixes-124:before { background-image:url('../images/storming.jpg');  }
.affixes-128:before { background-image:url('../images/tormented.jpg');  }
.affixes-130:before { background-image:url('../images/encrypted.jpg');  }

.affixes:before {
  border-radius:50%;
  -webkit-border-radius: 50%;
  padding-right: 20px;
  content:' ';
  background-size: 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.affixes {
  float: left;
}

.container {
  margin-top: 100px;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
strong,
a {
  color: #333;
}

.title {
  text-align:center;
}
i.arrowToLeft, i.arrowToRight {
  display: none;
}

.tmp-no-futur {
  text-align:center;
}
.tmp-no-futur-child {
  display: inline-block;
}

@media screen and (max-width: 699px) {
  .next-affixes {
    display: inline-block;
    width: 100%;
  }
  .calendar {
    text-align: center;
    margin-left: 0px !important;
  }
  .affixes {
    float: none;
    display: inline-block;
  }
  .affix-display {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 700px) {
  body {
    overflow:hidden;
  }

  .tmp-no-futur {
    margin-top: 50px;
  }

  .this-week {
    float:left;
  }

  .next-week {
    float: right;
    margin-left: 200px;
  }


  .calendar {
    width: 400%;
    overflow: hidden;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }
  i.arrowToLeft, i.arrowToRight {
    display: inline;
    font-size: 50px;
    position: absolute;
    top: 175px;
  }
  i.arrowToLeft.disabled, i.arrowToRight.disabled {
    display: none;
  }
  i.arrowToLeft {
    left: 5px;
  }
  i.arrowToRight {
    right: 5px;
  }
  .next-affixes {
    float: left;
    width: 25%;
    text-align: center;
  }
  .affix-display {
    display: inline-block;
  }
  .affix-display:nth-child(1) {
    margin-right: 150px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  padding-top: 20px;
  text-align: center;
}
