{% macro display(affixes) %}
    {% if affixes is same as("Unknown") %}
        {{ 'homepage.not_defined_yet'|trans }}
    {% else %}
        {% for affix in affixes %}
            <a href="https://{% trans %}www{% endtrans %}.wowhead.com/affix={{ affix }}/" class="affixes affixes-{{ affix }}"></a><br/>
        {% endfor %}
    {% endif %}
{% endmacro %}
