{% macro display(affixes) %}
    {% if affixes is same as("Unknown") %}
        {% trans %}Not defined yet{% endtrans %}
    {% else %}
        {% for i in 0..2 %}
            <a href="https://{% trans %}www{% endtrans %}.wowhead.com/affix={{ affixes[i] }}/" class="affixes affixes-{{ affixes[i] }}"></a><br/>
        {% endfor %}
        <span class="affixes affixes-119">
            {{ affixes[3] }} -
            <a href="https://{% trans %}www{% endtrans %}.wowhead.com/affix=119/"></a>
        </span>
    {% endif %}
{% endmacro %}